*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #393939;
}

.carousel-container {
    position: relative;
}

.carousel {
    display: none;
}

.carousel > img {
    width: 100%;
    height: 60vh;
    object-fit: contain;
}

.prev, .next {
    position: absolute;
    background-color: rgb(0,0,0,0.1);    
    color: #f3f3f3;
    padding: 1rem;
    border-radius: 50%; 
    cursor: pointer;
}

.prev {
    top: 50%;
    left: 5%;    
}

.next {
    top: 50%;
    right: 5%;
}

.active {
    display: block;
}

.custom {
    flex-grow: 1;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custom-colors__title, 
.custom-angle__title {
    margin-bottom: 10px;
}

.custom-colors__options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.custom__color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    list-style-type: none;
    cursor: pointer;
}

.custom__color--black {
    background-color: #393939;
}

.custom__color--blue {
    background-color: #3649A3;
}

.custom__color--cyan {
    background-color: #36A3A3;
}

.custom__color--green {
    background-color: #36A34C;
}

.custom__color--magenta {
    background-color: #9F36A3;
}

.custom__color--red {
    background-color: #A33647;
}

.custom__color--violet {
    background-color: #6936A3;
}
.custom__color--yellow {
    background-color: #A1A336;
}

.custom__angle {
    /* display: flex; */
}

.custom-angle__gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.angle-gallery {
    width: 100px;
    cursor: pointer;
}

.angle-gallery > img {
    width: 100%;
}

.scroll-down {
    position: absolute;
    bottom: 1%;
    left: 50%;
    padding: 0 10px;
    background-color: gray;
    border-radius: 100%;
}

.scroll-down > i::before {
    content: "-";
    font-size: 2rem;
}

.specs {
    display: none;
}
